# Indicates who needs to approve what kinds of pull request based on file touched
# This file is read in last-in precendence order (i.e. settings for bottom-most win)

# Default: engineering needs to review changes to files
*   @cds-snc/esdc-cppd-devs

# For CPPD-specific user-facing changes to application, require review from policy, design/product, and engineering
routes/*.njk    @cds-snc/esdc-cppd-policy @cds-snc/esdc-cppd-design @cds-snc/esdc-cppd-devs
locales/*       @cds-snc/esdc-cppd-policy @cds-snc/esdc-cppd-design @cds-snc/esdc-cppd-devs

# For changes to UI widgets, etc., require review from design/product and engineering
views/*     @cds-snc/esdc-cppd-design @cds-snc/esdc-cppd-devs