{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('Section 4 - Expedited processing for terminal and grave conditions') }}</h1>

    <p>{{ __('This section should be completed <strong>ONLY</strong> if your patient has been diagnosed with a terminal illness or one of the 32 grave conditions listed in <strong>Annex A</strong>. If your patient does not have a terminal illness or a grave condition, skip to <strong>Section 5 - Medical conditions, impairments, functional limitations and treatment</strong>.') | safe }}</p>

    <p>{{ __('Applications from patients with a terminal illness or a grave condition receive priority handling. In these cases, once we receive a complete application, including the <strong>Medical Report</strong>, our goal is to determine the applicant\'s eligibility for CPP disability benefits within 5 business days for applicants with a terminal illness and 30 calendar days for those with a grave condition.') | safe }}

    <p>{{ __('Does your patient have a medical condition that is:') }}</p>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        <div class="multiple-choice multiple-choice--radios">
            <div class="multiple-choice__item">
                <input id="condition_type_terminal" type="radio" name="condition_type" value="terminal"> <label for="condition_type_terminal">{{ __('<strong>Terminal</strong> - for the purpose of CPP, terminal is defined as a disease state that cannot be cured or adequately treated and is reasonably expected to result in death within 6 months. If yes, provide details below:') | safe }}</label>
            </div>
        </div>

        <div class="indent-block">
            {{ textArea('diagnosis', 'Diagnosis') }}

            {{ textInput('icd_code', 'ICD-9-CM code', { hint: 'XXX.X' }) }}

            {{ textInput('onset_date', 'Date of symptom onset', { hint: 'YYYY-MM' }) }}

            <p>{{ __('If the patient has other non-terminal medical conditions that prevent them from regularly working at any job, please provide details in <strong>Section 5 - Medical conditions, impairments, functional limitations and treatment</strong>. Otherwise, please skip to Section 6 - Patient\'s employment situation.') | safe }}
        </div>

        <div class="multiple-choice multiple-choice--radios">
            <div class="multiple-choice__item">
                <input id="condition_type_grave" type="radio" name="condition_type" value="grave"> <label for="condition_type_grave">{{ __('<strong>Grave</strong> - for the purpose of CPP, grave is defined as a condition that is included in the list of 32 severe and rapidly progressive medical conditions in Annex A. If yes, provide details in <strong>Section 5 - Medical conditions, impairments, functional limitations and treatment.</strong>') | safe }}</label>
            </div>
        </div>

        <div class="multiple-choice multiple-choice--radios">
            <div class="multiple-choice__item">
                <input id="condition_type_none" type="radio" name="condition_type" value="none"> <label for="condition_type_none">{{ __('Neither') }}</label>
            </div>
        </div>

        {{ formButtons() }}
    </form>
{% endblock %}
