{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('section_1.title') }}</h1>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ textInput('social', 'section_1.sin', { hint: 'section_1.sin_example', class: "w-3-4", required: true }) }}

        {{ radioButtons('preferred_title', { '1':'section_1.preferred_title_mr','2':'section_1.preferred_title_mrs','3':'section_1.preferred_title_miss','4':'section_1.preferred_title_ms'}, data.preferred_title, 'section_1.preferred_title', errors) }}
        
        {{ textInput('first_name', 'section_1.first_name', { required: true }) }}
        {{ textInput('middle_name', 'section_1.middle_name') }}
        {{ textInput('last_name', 'section_1.last_names', { required: true }) }}
        {{ textInput('birth_last_name', 'section_1.birth_last_name') }}

        {{ textInput('birthdate', 'section_1.birthdate', { hint: 'year_month_day_format', required: true }) }}

        {{ textArea('address', 'section_1.mailing_address', { hint: 'section_1.mailing_address_hint', required: true}) }}

        {{ textInput('telephone', 'section_1.telephone', { hint: 'telephone_format', required: true }) }}
        {{ textInput('alternate_telephone', 'section_1.alternate_telephone', { hint: 'telephone_hint' }) }}

        {{ radioButtons('contact_time', { 'morning':'section_1.contact_time_morning','afternoon':'section_1.contact_time_afternoon', 'letters_only':'section_1.contact_time_letters_only'}, data.contact_time, 'section_1.contact_time', errors, { required: true }) }}

        {{ formButtons() }}
    </form>

{% endblock %}