{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('Section 1 - Get started') }}</h1>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ textInput('name', 'Name', { class: "w-3-4", required: true }) }}

        {{ formButtons() }}
    </form>

{% endblock %}