{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('treatments.title') }}<br/> <span class="text-base">{{ __('patient_type')}} {{ data.first_type }} {{ data.last_name }}</span></h1>

    <div>

        <form method="post">
            <input type="hidden" type="_csrf" value="{{ csrfToken }}">

            {{ textInput('type', 'treatments.form.type.desc', {required: true, hint: 'treatments.form.type.hint'}) }}
            {{ textInput('frequency', 'treatments.form.frequency.desc', {required: true, hint: 'treatments.form.frequency.hint'}) }}
            {{ textInput('start_date', 'treatments.form.start_date.text', { required: true, hint: 'treatments.form.start_date.hint'})}}
            {{ textInput('end_date', 'treatments.form.end_date.text', {required: true, hint: 'treatments.form.end_date.hint'})}}
            
            {{ checkBoxes('treated_condition', 
                {
                    'condition_1':'condition_1' ,
                    'condition_2':'condition_2' ,
                    'condition_3':'condition_3' },{},
                'treatments.form.treated_conditions.question',{},
                {required: true}) 
            }}

            {{ textArea(
                'results',
                'treatments.form.results.desc',
                { required: true, hint: 'treatments.form.results.hint' }
            ) }}

            {{ formButtons() }}
        </form>
    </div>

{% endblock %}