{% extends "base.njk" %}

{% block content %}

    <h1 class="border-gray-400 border-b">{{ __('treatments.title') }}<br/> <span class="text-base">{{ __('patient_type')}} {{ patientName(data) }}</span></h1>

    <div class="mt-10">
        <h2 class="text-2xl mb-4">{{ __('treatments.treatments') }}</h2>

        {% for treatment in data.treatments %}  
            <div class="flex border-t border-b">
                <div class="w-1/2">
                    <p>{{ treatment.treatment_type }}</p>
                    <p class="text-base">{{ treatment.treatment_start_date }}</p>
                </div>
                <div class="w-1/2">
                    <!-- <a href="/en/treatments/{{ loop.index }}/edit">Edit treatment</a><br> -->
                    <form action="/en/treatments/{{ loop.index }}/delete" method="POST">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <a href="#" role="button" onclick="this.parentNode.submit();" class="text-sm">
                            <svg class="w-4 h-4 inline fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 1.6a8.4 8.4 0 100 16.8 8.4 8.4 0 000-16.8zm5 9.4H5V9h10v2z"/></svg>
                            {{ __('treatments.remove_treatment' )}}
                        </a>
                    </form>
                </div>
            </div>
        {% endfor %}

        <div class="mt-4">
            <a href="{{ routePath('add_treatment') }}" class="text-sm">
                <svg class="h-4 w-4 inline fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601-.553 0-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10c0-.553.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4c.553 0 1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"/>
                </svg>
                {{ __('treatments.add_a_treatment') }}
            </a>
        </div>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            <div class="w-full">
                <div class="w-1/3">
                    <button type="submit">{{ __('treatments.next_overall_patient_summary') }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}