{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('treatments.title') }}<br/> <span class="text-base">{{ __('patient_type')}} {{ data.name }}</span></h1>

    <div>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <ol>
            {% for treatment in data.treatments %}
                <li>{{ treatment.treatment_type }}</li>
            {% endfor %}
            </ol>
            <p><a href="/en/add_treatment">{{ __('Add a treatment') }}</a></p>

            {{ formButtons('Next: Overall patient summary') }}
        </form>
    </div>

{% endblock %}