{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('section2title') }}</h1>

    <p>{{ __('section2preamble') | safe }}</p>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ medicalConsent('consent', { '1':'section2i_consent','2':'section2i_dont_consent'}, data.consent, 'section2consent_preamble', errors, {hint: 'section2consent_valid_period', required: true}) }}
        {{ textInput('signature', 'section2form.signature') }}

        <p>{{ __('section2delay_warning_preamble') }}</p>
        <ul>
            <li>{{ __('section2delay_warning_1') }}</li>
            <li>{{ __('section2delay_warning_2') }}</li>
            <li>{{ __('section2delay_warning_3') }}</li>
        </ul>

        <fieldset>
            <legend>{{__('section2witness_legend')}}</legend>
            <p> {{__('section2witness_preamble')}} </p>
            {{ textInput('witnessFirst', 'section2form.witness_first') }}
            {{ textInput('witnessMiddle', 'section2form.witness_middle') }}
            {{ textInput('witnessLast', 'section2form.witness_last') }}
            {{ textInput('witnessPhone', 'section2form.witness_phone') }}
            {{ textInput('witnessSignature', 'section2form.witness_signature') }}
        </fieldset>

        {{ formButtons() }}
    </form>

{% endblock %}
