{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('section_2.title') }}</h1>

    <p>{{ __('section_2.preamble') | safe }}</p>

    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ medicalConsent('consent', { '1':'section_2.i_consent','2':'section_2.i_dont_consent'}, data.consent, 'section_2.consent_preamble', errors, {hint: 'section_2.consent_valid_period', required: true}) }}
        {{ textInput('signature', 'section_2.form.signature') }}

        <fieldset>
            <legend>{{__('section_2.witness_legend')}}</legend>
            <p> {{__('section_2.witness_preamble')}} </p>
            {{ textInput('witnessFirst', 'section_2.form.witness_first') }}
            {{ textInput('witnessMiddle', 'section_2.form.witness_middle') }}
            {{ textInput('witnessLast', 'section_2.form.witness_last') }}
            {{ textInput('witnessPhone', 'section_2.form.witness_phone') }}
            {{ textInput('witnessSignature', 'section_2.form.witness_signature') }}
        </fieldset>

        {{ formButtons() }}
    </form>

{% endblock %}
