{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('confirmation.title') }}</h1>

    <div>
        <p>
            {{ __('confirmation.intro') }}
        </p>

        {{ data | dump }}

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ formButtons('Save session data') }}
        </form>

    </div>

{% endblock %}
