{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('Section 7 - Other relevant information') }}</h1>

    <div>
        <p>
            {{ __('(e.g. planned investigations and/or specialist consultations, reason for unknown prognosis and/or frequency, etc.).') }}
        </p>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ textArea('other_info', 'To help us evaluate the applicant\'s current and future ability to work, please add any other information you feel is relevant', { hint: '(e.g. planned investigations and/or specialist consultations, reason for unknown prognosis and/or frequency, etc.)'}) }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
