{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    <h1>{{ __('start.title') }}</h1>
    
    <h2>{{ __('start.instruction_header') }}</h2>

    <p>{{ __('start.instruction_overview') }}</p>
    
    <p>{{ __('start.applicant_instruction_begin') }}</p>

    <ul>
        <li>{{ __('start.applicant_instruction_1') }}</li>
        <li>{{ __('start.applicant_instruction_2') }}</li>
        <li>{{ __('start.applicant_instruction_3') }}</li>
    </ul>

    <p>{{ __('start.doctor_instruction_1') }}</p>

    <p>{{ __('start.doctor_instruction_2') }}</p>
    
    <p>{{ __('start.doctor_instruction_3') }}</p>
    
    <div>
        <a class="button-link" href="{{ routePath(route.next) }}" role="button" draggable="false">
            {{ __('start.submit') }}
            <span aria-hidden="true">→</span>
        </a>
    </div>

{% endblock %}
