{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('conditions.title') }}<br/> <span class="text-base">{{ __('conditions.patient')}} {{ data.name }}</span></h1>

    <div>
        <p>
            {{ __('conditions.intro') }}
        </p>

        {{ data.conditions | dump }}

        <p><a href="/en/add_condition">Add a condition</a></p>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
