{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('Section 8 - Supporting documents') }}</h1>

    <div>
        <p>
            {{ __('If you have supporting documents for any of the relevant medical conditions listed in Section 4 or Section 5, please include copies of these reports with this Medical Report.') }}
        </p>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ checkBoxes('supporting_documents_type', { '1':'longitudinal clinical notes','2':'medical investigation report(s)', '3':'specialist\'s report(s)', '4': 'hospital discharge report(s)', 'other': 'other'}, data.contact_time, 'Please identify the type of report(s) you are including:', errors, { required: true }) }}
            
            {{ textInput('other_specify', 'If other, please specify') }}

            {{ fileInput('Upload', '', { name: 'file_upload' }) }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
