{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('treatments.title') }}<br/> <span class="text-base">{{ __('patient_type')}} {{ patientName(data) }}</span></h1>

    <div>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {{ textInput('treatment_type', 'treatments.form.type.desc', {required: true, hint: 'treatments.form.type.hint', "autocomplete": "off"}) }}
            {{ textInput('treatment_frequency', 'treatments.form.frequency.desc', {required: true, hint: 'treatments.form.frequency.hint', "autocomplete": "off"}) }}
            {{ textInput('treatment_start_date', 'treatments.form.start_date.text', { required: true, hint: 'treatments.form.start_date.hint', "autocomplete": "off"})}}
            {{ textInput('treatment_end_date', 'treatments.form.end_date.text', {required: true, hint: 'treatments.form.end_date.hint', "autocomplete": "off"})}}
            
            {{ propCheckBoxes('treatment_treated_condition', 
                data.conditions,"name_of_condition",{},
                'treatments.form.treated_conditions.question',{},
                {required: true}) 
            }}

            {{ textArea(
                'treatment_results',
                'treatments.form.results.desc',
                { required: true, hint: 'treatments.form.results.hint' }
            ) }}

            <div class="w-full flex">
                <div class="w-1/3">
                    <button type="submit">{{ __('add_treatment.add_treatment') }}</button>
                </div>
                {% if data.treatments %}
                    <div class="w-1/3 text-center">
                        <a class="button-link transparent" href="/en/treatments">{{ __('Cancel') }}</a>
                    </div>
                {% else %}
                    <div class="w-1/3 text-center">
                        <a class="button-link transparent" href="/en/health">{{ __('skip_section') }}</a>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}