{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('documents.title') }}<br/> <span class="text-base">{{ __('patient')}} {{ data.name }}</span></h1>

    <div>
        <p>
            {{ __('documents.intro') }}
        </p>
        <p class="text-gray-600">{{ __('documents.sub') }}</p>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            <div id="app">
                <file-upload files="{{ data.supporting_documents }}" field-name="supporting_documents"></file-upload>
            </div>
            
            <div class="multiple-choice multiple-choice--checkboxes">
                <div class="multiple-choice__item">
                    <input id="attach_later" name="attach_later" type="checkbox" value="attach_later">
                    <label for="attach_later">{{ __('add_condition.attach_later') }}</label>
                </div>
            </div>

            {{ formButtons('documents.next_button') }}
        </form>
    </div>

{% endblock %}
