{% macro medicationForm(medication) %}

{{ textInput('medication_name', 'form.medication_name.desc', {required: true, "autocomplete": "off", value: medication.medication_name }) }}
{{ textInput('medication_dosage', 'form.medication_dosage.desc', {required: true, "autocomplete": "off", value: medication.medication_dosage }) }}
{{ textInput('medication_frequency', 'form.medication_frequency.desc', {required: true, hint: 'form.medication_frequency.hint', "autocomplete": "off", value: medication.medication_frequency }) }}
{{ textInput('medication_start_date', 'form.medication_start_date.text', { required: true, hint: 'form.medication_start_date.hint', "autocomplete": "off", value: medication.medication_start_date })}}
{{ textInput('medication_end_date', 'form.medication_end_date.text', {required: true, hint: 'form.medication_end_date.hint', "autocomplete": "off", value: medication.medication_end_date })}}

{% if oneValue %}
    {% set selectedValues = ["0"] %}
{% else %}
    {% set selectedValues = medication.medication_treated_condition %}
{% endif %}
{{ rawCheckBoxes('medication_treated_condition', 
    conditionList,
    selectedValues, 
    'form.medication_treated_conditions.question',{},
    {required: true}) 
}}

{{ textArea(
    'medication_results',
    'form.medicaiton_results.desc',
    { required: true, hint: 'form.medication_results.hint', value: medication.medication_results }
) }}

{% endmacro %}