{% macro treatmentForm(treatment) %}

    {{ textInput('treatment_type', 'treatments.form.type.desc', {required: true, hint: 'treatments.form.type.hint', "autocomplete": "off", value: treatment.treatment_type }) }}
    {{ textInput('treatment_frequency', 'treatments.form.frequency.desc', {required: true, hint: 'treatments.form.frequency.hint', "autocomplete": "off", value: treatment.treatment_frequency }) }}
    {{ textInput('treatment_start_date', 'treatments.form.start_date.text', { required: true, hint: 'treatments.form.start_date.hint', "autocomplete": "off", value: treatment.treatment_start_date })}}
    {{ textInput('treatment_end_date', 'treatments.form.end_date.text', {required: true, hint: 'treatments.form.end_date.hint', "autocomplete": "off", value: treatment.treatment_end_date })}}


    {% if oneValue %}
        {% set selectedValues = ["0"] %}
    {% else %}
        {% set selectedValues = treatment.treatment_treated_condition %}
    {% endif %}

    {{ rawCheckBoxes('treatment_treated_condition',
        conditionList,
        selectedValues, 
        'treatments.form.treated_conditions.question',{},
        {required: true}) 
    }}

    {{ textArea(
        'treatment_results',
        'treatments.form.results.desc',
        { required: true, hint: 'treatments.form.results.hint', value: treatment.treatment_results }
    ) }}

{% endmacro %}